@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Oswald:wght@400;700&display=swap");
@media (max-width: 767px) {
  #searchToggle {
    display: inline-block;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  #searchForm.show {
    display: flex;
  }
}
body {
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(154, 158, 158);
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

/* Pagina eventos */
main.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.event {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.event img {
  width: 100%;
  height: 500px;
}
.event h2 {
  margin: 0;
  padding: 1rem;
  background-color: #000000;
  color: white;
}

/* Pagina estadisticas */
#estadisticas {
  margin-top: 3rem;
}
#estadisticas .luchador {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  #estadisticas .luchador {
    flex-direction: row;
    align-items: flex-start;
  }
}
#estadisticas .luchador .luchador-info {
  text-align: center;
}
@media (min-width: 768px) {
  #estadisticas .luchador .luchador-info {
    text-align: left;
  }
}
#estadisticas .luchador .luchador-info .luchador-foto {
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease-in-out;
}
#estadisticas .luchador .luchador-info .luchador-foto:hover {
  transform: scale(1.05);
}
#estadisticas .luchador .luchador-info .luchador-nombre {
  font-size: large;
  margin-bottom: 1rem;
}
#estadisticas .luchador .luchador-detalles {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  #estadisticas .luchador .luchador-detalles {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}
#estadisticas .luchador .luchador-detalles .logros, #estadisticas .luchador .luchador-detalles .estadisticas {
  margin-bottom: 1rem;
}
#estadisticas .luchador .luchador-detalles .logros h4, #estadisticas .luchador .luchador-detalles .estadisticas h4 {
  font-size: medium;
  margin-bottom: 0.5rem;
}
#estadisticas .luchador .luchador-detalles .logros ul, #estadisticas .luchador .luchador-detalles .estadisticas ul {
  list-style-type: disc;
  padding: 0;
}
#estadisticas .luchador .luchador-detalles .logros ul li, #estadisticas .luchador .luchador-detalles .estadisticas ul li {
  font-size: medium;
  margin-bottom: 0.3rem;
}

.horarios-section {
  font-family: "Roboto", sans-serif;
}
.horarios-section .event {
  background-color: rgb(210, 223, 223);
}
.horarios-section .event h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #afaaaa;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.horarios-section .event p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.horarios-section .event ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.1rem;
}
.horarios-section .event ul li {
  margin-bottom: 0.5rem;
}
.horarios-section img {
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
}
.horarios-section img:hover {
  transform: scale(1.05);
}

header {
  background-color: #000000;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logos {
  height: 50px;
}
header .container .navbar-toggler {
  background-color: transparent;
  border: none;
}
header .container .navbar-toggler i {
  color: #f7f7f7;
  font-size: 45px;
}
header .container nav .nav {
  margin-left: auto;
}
header .container nav .nav .nav-item {
  margin-left: 15px;
}
header .container #navbarNav .navbar-nav .nav-link {
  color: #ffffff;
}
header .container #navbarNav .navbar-nav .nav-link:hover {
  color: rgb(39, 115, 117);
}
header .container .nav-link {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
header .container .nav-link:hover {
  color: #007bff;
}
header .container #searchForm form {
  display: flex;
  align-items: center;
}
header .container #searchForm form input {
  width: auto;
}
header .container #searchForm form button {
  margin-left: 10px;
}
header .container form.d-md-flex {
  display: flex;
  align-items: center;
}
header .container form.d-md-flex input {
  width: auto;
}
header .container form.d-md-flex button {
  margin-left: 10px;
}
header .container button.btn-outline-success i {
  color: #ffffff;
  font-size: 24px;
}

/* Styles News */
.news {
  padding: 1rem;
}
.news h2 {
  text-align: center;
  color: #000000;
}
.news article {
  background-color: #d7d1db;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
}
.news article h3 {
  margin-top: 0;
  text-align: center;
}
.news article .article-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.news article .article-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

article img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

/* Styles Footer */
footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 1rem;
}
footer a {
  text-decoration: none;
}
footer i {
  font-size: 25px;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Styles Video */
.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.video-container {
  flex: 1;
  margin: 10px;
  max-width: 100%;
  text-align: center;
}
.video-container h2, .video-container p {
  padding: 0 1rem;
}
.video-container div video {
  width: 100%;
  height: auto;
}

/* Styles Photo */
.photo-container {
  text-align: center;
}
.photo-container img {
  width: auto;
  height: 200px;
}

.champion-img {
  transition: transform 0.3s ease-in-out;
}
.champion-img:hover {
  transform: scale(1.2);
}

.event-img {
  transition: transform 0.3s ease-in-out;
}
.event-img:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=styles.css.map */
