// Navbar responsive
@media (max-width: 767px) {
  #searchToggle {
    display: inline-block; 
  }
  
  .navbar-nav {
    text-align: center;

    .nav-item {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

// Search responsive
@media (max-width: 767px) {
  

  #searchForm.show {
    display: flex;
  }
}