@media (max-width: 768px) {
  .navbar-toggler {
      display: block;
  }

  .navbar-collapse {
      display: none;
  }

  .navbar-collapse.collapse {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      background-color: #333;
  }

  .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;

      .nav-item {
          margin: 10px 0;
      }
  }
}