$color-primario: #000000;
$color-secundario: rgb(39, 115, 117);
$text-color: #000000;
$background-color: #d7d1db;
$font-family: 'Roboto', sans-serif;

$navbar-bg: #000000; 
$navbar-color: #ffffff; 
$navbar-toggler-color: #f7f7f7;
$navbar-link-hover-color: rgb(39, 115, 117);
