// Animacion campeones
.champion-img {
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.2);
    }
  }

// Animacion eventos
.event-img {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

