/* Styles footer */
footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer i {
    font-size: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
}