/* Styles Footer */
footer {
    background-color: $color-primario;
    color: white;
    text-align: center;
    padding: 1rem;

    i {
        font-size: 25px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}