/* Styles header */
header {
    background-color: #2C3E50;
    color: white;
    padding: 1rem;
}

header img.logos {
    height: 40px;
}

header.sticky {     
    position: sticky;
    top: 0;
    z-index: 100;     
}

/* Navbar Styles */
nav {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover {
    color: rgb(40, 163, 245);
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}