/* Styles News */
.news {
    padding: 1rem;

    h2 {
        text-align: center;
        color: $color-primario;
    }

    article {
        background-color: $background-color;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 10px;
        
        h3 {
            margin-top: 0;
            text-align: center;
        }

        .article-content {
            @include flex-center;
            flex-wrap: wrap;

            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 1rem;
            }
        }
    }
}

article img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}